.wrapper {
    width: 320px;
    height: 100dvh;
    position: absolute;
    background-color: var(--default-color);

    border-radius: 25px;
    right: -320px;
    transition: 0.3s all ease-in-out;
}

.open {
    right: 0
}

.close {
    right: -320px;
}


.Burger {
    right: 340px;
    position: absolute;
    top: calc(100dvh / 2);
    border: transparent 0;
    background-color: transparent;
}

.nav {
    position: relative;
    z-index: 1;

}

.test {
    display: flex;
    flex-direction: column;

}