.wrapper {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: absolute;
  left: calc(-1 * var(--sidebar-width));
  transition: 0.3s all ease-in-out;

}

.open {
  left: 0
}

.close {
  left: calc(-1 * var(--sidebar-width));
}


.Button {
  position: absolute;
  right: 20px;
  bottom: 20px
}

.Burger {
  position: absolute;
  right: -30px;
  top: calc(100dvh / 2);
  border: transparent 0;
  background-color: transparent;
}



.nav {
  position: absolute;
}