.wrapper {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  position: absolute;
  left: calc(-1 * var(--sidebar-width));
  transition: 0.3s all ease-in-out;

}

.open {
  left: 0
}

.close {
  left: calc(-1 * var(--sidebar-width));
}


.Button {
  position: absolute;
  right: 20px;
  bottom: 20px
}

.Burger {
  position: absolute;
  right: -40px;
  top: calc(100dvh / 2);
  border: transparent 0;
  width: 36px;
  height: 24px;
  border-radius: 4px;
  background-color: rgb(0, 132, 255);
  cursor: pointer;
  z-index: 1;
}



.nav {
  position: absolute;
}

.arrow {
  width: 25px;
  height: 25px;
  color: white;
  transition: transform 0.2s ease; 
  transform: rotate(180deg);

}

.rotate {
  transform: rotate(360deg);
}
