:root {
  --sidebar-width: 248px;
  --sidebar-width-collapsed: 100px;

  --default-color: rgb(52, 53, 65);
  --sidebar-text-color: #ececf1;

  overflow: hidden;
}

main {
  background-color: var( --main-bg-color);
}

.loader {
  width: 96px;
  height: 96px;
  border: 5px solid #494875;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }