
html[data-theme='light'] {
  --bg-color: #fff;
  --inverted-bg-color: #000000;
  --text-primary: #0f0f0f;
  --text-secondary: #666;
  --text-tertiary: #999;
  --text-quaternary: #c5c5d2;
}

html[data-theme='dark']  {
  --bg-color: rgb(52,53,65);
  --inverted-bg-color: #000000;
  --text-primary: #ececf1;
  --text-secondary: #c5c5d2;
  --text-tertiary: #999;
  --text-quaternary: #40414f;
}