.Sidebar {
    width: var(--size);
    display: flex;
    flex-direction: column;
    background-color: var(--inverted-bg-color);
    height: 100dvh;
    max-width: 90vw;
}

.wrapper {
    display: flex;
    height: 100dvh;
}

.children {
    width: calc(100% - 300px);
}