.wrapper {
    background-color: var(--bg-color);
    color: var(--text-primary);
    padding: 8px;
    margin: 8px;
    border-radius: 8px ;
}

.pre {
    white-space: pre-wrap;
    font-family: 'Inter', monospace;
    padding: -1px;
}

.pre > ol {
padding-left: 30px; 
}

.pre > ul {
padding-left: 30px; 
}

.roleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.role {
    color: var(--text-secondary)
}

.image {
    border-radius: 24px;
}

.user {
    background-color: var(--color-primary);
}

.assistant {
    background-color: var(--color-secondary);
}