.copyButton {  
    width: 24px;
    height:24px;
    right: 12px;
    top: 8px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
}

.code {
    position: relative;
}